<label class="control-label">{{theme-i18n "tlp.user_prefs.title"}}</label>
{{preference-checkbox labelKey=(theme-prefix "tlp.user_prefs.prefer_low_res_thumnbails") checked=model.custom_fields.tlp_user_prefs_prefer_low_res_thumbnails}}